.week-strip {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.week-strip button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.day-btn {
    font-size: 18px;
    padding: 12px;
    background: none;
    border: none;
    border-radius: 15px;
}

.active {
    background: var(--colors-brand-primary-100);
    color: var(--text-text-neutral-0);
}

.tabs {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.tabs button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.day-dot {
    width: 10px;
    height: 10px;
    background: var(--colors-brand-secondary-100);
    border-radius: 36px;
    text-align: center;
}